@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import 'tailwindcss';

@font-face {
  font-family: 'Star Jedi';
  src: url('./assets/fonts/starjedi_cyrillic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-brand: 'Star Jedi', sans-serif;
  --font-main: 'Inter', sans-serif;
  --font-text: 'Inconsolata', monospace;
  --color-brand: #ffd700; /*yellow*/
  --color-primary: #64696c; /*gray*/
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-accent: #00a63e;
}

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    color: var(--color-black);
  }
}

@utility disabled-state {
  @apply pointer-events-none disabled:bg-gray-200 disabled:text-gray-400 disabled:border-gray-200 disabled:cursor-not-allowed;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

body {
  -ms-overflow-style: none;
}
