@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-brand: 'Orbitron', sans-serif;
  --font-main: 'Inter', sans-serif;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-yellow: #fcee0a;
  --color-gray: #64696c;
  --color-red: #ff0000;
  --color-green: #00ff00;
  --color-gray-blue: #6f919b;
  /* --color-hover: #9d8f8e; */
  /* --color-hover: #de8a32; */
  --color-soothing-green: #708b58;
}

@layer base {
  body {
    font-family: var(--font-main);
  }
}
